html::-webkit-scrollbar{
  background-color: white;
  width: 8px;
  
}

html::-webkit-scrollbar-thumb{
  background-color: red;
  border-radius: 30px;
  
}
body{
    margin: 0;
    padding: 0;
    
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none !important;
}


/* Header bolmesi */

.header{
    position: sticky;
    top: 2px;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    margin: 20px 8rem;
    background-color: white;
    border-radius: 200px;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75); 
    z-index: 3;
}

.logo{
    width: 65px;
    height: 65px;
}

.header .menu{
    display: flex;
    align-items: center;

}
.menu a{
  text-decoration: none;
}

.header .menu a{
    margin: 10px;
    border-bottom: 1px solid transparent;
    
}

.header .menu a:hover{
    border-color: red;
    padding-bottom: 3px;
    color: red;
}
.header .additional{
    display: flex;
    align-items: center;
}

.searching{
  position: relative;
  margin-top: 5px;
}

.search-bar{
  position: absolute;
  right: 0;
  top: 60px;
  border: 1px solid black;
  display: none;
}

.header .additional i{
    margin: 10px 5px;
}

.header .additional i:hover{
    cursor: pointer;
    color: red;
}

.home{
    background-image: url('img/main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -125px;
    height: 100vh;
    
   
    
}

.home-shadow{
    height: 100%;
    padding: 0 150px;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}







 .content{
   
    color: white;
    
}

.content p{
    width: 500px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.content p:first-child{
    font-size: 40px;
    margin-bottom: -40px;
}

.content p:nth-child(2){
    margin: 50px 0
}

.content a{
    padding: 25px;
    background-color: black;
    font-size: 22px;
    border-radius: 50px;
    color: white;
}

.content a:hover{
    background: white;
    border: 3px black solid;
    color: black;
}


 /* Restoran Menyusu */

 .rest-menu{
   padding: 0 150px;
   margin-top: -120px;
 }

 .menu-title{
   font-size: 22px;
 }

 .all-products{
   display: flex;
   flex-wrap: wrap;
 }

 .all-products .product{
   flex: 1;
   margin-left: 17px;
   background-color: white;
   border-radius: 10px;
   box-shadow: -4px 1px 14px 0px rgba(0,0,0,0.75);
   -webkit-box-shadow: -4px 1px 14px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: -4px 1px 14px 0px rgba(0,0,0,0.75);
 }

 .product-img{
   width: 240px;
   height: 240px;
   border-bottom: 1px solid black;
 }

 .product-img img{
   object-fit: contain;
 }

 .product-content{
   width: 240px;
   font-size: 14px;
 }

 .product-cat{
   text-align: center;
   font-size: 12px;
 }

 .product-title{
   font-size: 28px;
   text-align: center;
   color: red;
   margin-top: -18px;
 }

 .product-inside{
   width: 200px;
   margin: auto;
   color: rgb(92, 87, 87);
   margin-top: -20px;
 }

.product-price{
   font-size: 25px;
   text-align: center;
   font-family: 'Playfair Display', serif;
   font-weight: bold;
}

.product-btn{
   display: inline-block;
   border-radius: 30px;
   padding: 5px 10px;
   background-color: red;
   font-size: 16px;
}

.product-btn:hover{
   background-color: white;
   border: 1px solid red;
}

.product-btn:hover > a{
   color: red !important;
}

/* Restoran filiallari */

.rest-filials{
  padding: 0 150px;
}

.sectitle{
  font-size: 24px;
}

hr{
  margin-top: -30px;
}
.sec-items{
  display: flex;
}

.filial-item{
  background-color: white;
  box-shadow: -2px -1px 7px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -2px -1px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px -1px 7px 0px rgba(0,0,0,0.75);
  flex: 1;
  margin-left: 15px;
  max-width: 340px;
}

.filial-img{
  height: 330px;
}

.filial-img img{
  width: 100%;
  height: 100%;
  object-fit: cover !important;

}

.filial-title{
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}

.filial-text{
  padding: 15px;
  display: flex;
  font-size: 18px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filial-text i{
  margin-right: 5px;
}

/* Bizimlə Əlaqə hissəsi */

.contact-section{
  padding: 20px 150px;
}

.contact-title{
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

.contact-point{
  display: flex;
}

.map-content{
  
  width: 50%;
  height: 400px;
}

.contact-text{
  padding: 20px;
}

.contact-item div:first-child{
  font-size: 17px;
  opacity: 0.5;
}

.contact-item div:nth-child(2){
  font-size: 25px;
  opacity: 1;
}

/* Feedbacklar */

.feedback{
  padding: 10px 150px;
}

.feeds{
  display: flex;
}

.feed{
  border: 1px solid black;
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -4px 1px 14px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -4px 1px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 1px 14px 0px rgba(0,0,0,0.75);
}

.feed-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.feed-img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.feed p{
  width: 200px;
  font-size: 16px;
  font-style: italic;
}

/* footer */

.main{
  padding: 30px 60px;
  display: flex;
  background-color: rgb(17, 16, 16);
  justify-content: space-between;
}

.menu-item a{
  display: block;
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.menu-logo{
  color: white;
  font-size: 40px;
  padding: 10px;
}

.main-menu{
  width: 30%;
}

.footer-about{
  color: white;
  width: 30%;
}

.about-name{
  font-size: 26px;
  padding-bottom: 50px;
}

.about-name p{
  font-size: 20px;
 
}

.footer-form{
  width: 30%;
  padding-left: 130px;

}

.footer-form label{
  color: white;
}

.basic{
  color: white;
  text-align: center;
  background-color: black;
  padding: 10px;
}

footer{
  margin-top: 100px;
}
